@model List<Gear>

@{
    ViewData["Title"] = "Shop" + "@ViewBag.NinjaName";
}

<div class="table">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Strength</th>
                <th>Intelligence</th>
                <th>Agility</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Gear item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Cost</td>
                    <td>@item.Strength</td>
                    <td>@item.Intelligence</td>
                    <td>@item.Agility</td>
                    <td>@item.Type</td>
                    <td>
                        @{
                            string Message = "trade-in";

                            if(!(((List<Gear>)ViewBag.NinjaGear).Any(e => e.Type == item.Type))) 
                            {
                                Message = "Buy";
                            }
                            if (((List<Gear>)ViewBag.NinjaGear).Contains(item)){
                                Message = "In Inventory";
                            }
                        }
                        @if ((int)ViewBag.NinjaGold < item.Cost && !Message.Equals("In Inventory"))
                        {
                           
                            <button class="btn btn-outline-dark" disabled>
                                too expensive
                            </button>
                        }
                        else
                        {
                            <form method="post" asp-action="Buy" asp-controller="Shop">
                                <input type="hidden" name="GearId" id="GearId" value="@item.Id" />
                                <input type="hidden" name="NinjaId" id="NinjaId" value="@ViewBag.NinjaId" />
                                <button type="submit" class="btn btn-outline-dark">
                                    @Message
                                </button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

